@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




.container--0- {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 97px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
}
.container-0-1-0 {
  position: absolute;
  left: 96px;
  top: 24px;
  width: 230.140625px;
  height: 45px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
}
.container-1-2-0 {
  position: absolute;
  left: 14px;
  top: -1px;
  width: 163px;
  height: 38px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #f6f6f6;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container-0-1-1 {
  position: absolute;
  left: 424.1400146484375px;
  top: 38px;
  width: 954px;
  height: 21px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
}
.text-1-2-0 {
  width: 151px;
  height: 21px;
  color: #ffffff;
  font-size: 18.1200008392334px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-1-2-1 {
  width: 76px;
  height: 21px;
  color: #ffffff;
  font-size: 18px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-1-2-2 {
  width: 102px;
  height: 21px;
  color: #ffffff;
  font-size: 18.1782169342041px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.text-1-2-3 {
  width: 102px;
  height: 21px;
  color: #ffffff;
  font-size: 18px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: top;
}
.container-0-1-2 {
  position: absolute;
  left: 1526.97998046875px;
  top: 29.5px;
  width: 297px;
  height: 38px;
  background-color: white;
  justify-content: start;
  align-items: start;
}
.text-2-3-0 {
  width: 54px;
  height: 24px;
  color: #1e1e28;
  font-size: 18.339622497558594px;
  font-family: Inter, "Regular";
  font-weight: 400;
  text-align: left;
  vertical-align: center;
}
.container-1-2-1 {
  position: absolute;
  left: 192px;
  top: -1px;
  width: 104px;
  height: 38px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #f6f6f6;
  justify-content: start;
  align-items: start;
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}